* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cta-txt: hsl(356, 100%, 66%);
  --cta-hvr-bck: hsl(355, 100%, 74%);
  --hdgs: hsl(208, 49%, 24%);
  --txt: hsl(0, 0%, 100%);
  --foot-txt: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --foot-bck: hsl(240, 10%, 16%);
  --cta-grd-1: hsl(13, 100%, 72%);
  --cta-grd-2: hsl(353, 100%, 62%);
  --body-grd-1: hsl(237, 17%, 21%);
  --body-grd-2: hsl(237, 23%, 32%);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  text-align: center;
  position: relative;
}

header {
  position: absolute;
  width: 100vw;
  margin: 5vh 0 0;
  display: flex;
  padding: 0 5vw;
  align-items: center;
}

.header__logo {
  width: 5rem;
  cursor: pointer;
  margin: 0 0 1rem;
}

.header__navigation {
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  width: 100%;
}

.header__navigation input[type='checkbox'] {
  display: none;
}

.categories__navigation {
  display: flex;
  margin: 0 5vw;
}

.main__category {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 2vw 0;
  font-size: 1rem;
  color: var(--txt);
  font-weight: 500;
}

.main__category:hover {
  font-weight: 700;
  text-decoration: underline;
}

.main__category:hover .sub__navigation {
  height: auto;
  opacity: 1;
}

.dark__arrow {
  display: none;
}

.main__category:hover img {
  transform: rotate(180deg);
}

.main__category label img {
  height: 50%;
  margin: 0 0.5rem;
}

.sub__navigation {
  position: absolute;
  text-align: left;
  height: 0;
  opacity: 0;
  top: 150%;
  left: 0%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
  line-height: 2;
}

.sub__navigation a {
  color: var(--body-copy);
  font-size: 0.8rem;
  margin: 0 3rem 0 1rem;
  padding: 0;
  font-weight: 500;
  text-decoration: none;
}

.sub__navigation a:hover {
  font-weight: 700;
  text-decoration: none;
}

.sign {
  justify-self: right;
  justify-content: right;
  display: flex;
}

.sign .button {
  margin: 0 0 0 1rem;
  padding: 1rem 2rem;
  font-weight: 500;
}

#login-btn {
  border: none;
  color: var(--txt);
  opacity: 0.8;
}

#login-btn:hover {
  color: var(--cta-txt);
}

#burger-icon {
  cursor: pointer;
  display: none;
}

#cross-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  header {
    justify-content: space-between;
    align-items: center;
  }

  .header__navigation {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  #burger-icon {
    display: block;
    top: 5%;
    right: 10%;
    z-index: 999;
  }

  .header__navigation.active {
    width: 90vw;
    position: fixed;
    display: flex;
    top: 20vh;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 999;
  }

  .main__category {
    width: 100%;
    justify-content: center;
    display: unset;
    margin: 0;
    color: var(--body-copy);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 3;
  }
  .main__category label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    place-items: center;
  }

  .main__category label img {
    width: 0.9rem;
  }

  .main__category input:checked ~ label img {
    transform: rotate(180deg);
  }

  .main__category input:checked ~ .sub__navigation {
    display: block;
    position: relative;
  }

  .categories__navigation {
    flex-direction: column;
    width: 100%;
  }

  .dark__arrow {
    display: unset;
  }

  .light__arrow {
    display: none;
  }

  .sub__navigation {
    display: none;
    height: auto;
    opacity: 1;
    background-color: rgba(239, 239, 241, 1);
    position: relative;
    width: 100%;
    left: 0;
    text-align: center;
    box-shadow: none;
  }

  .sub__navigation a {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 700;
  }

  .sign {
    width: 100%;
    flex-direction: column;
    margin: 1rem 0;
    line-height: 3.5;
    border-top: 1px solid lightgray;
    padding: 1rem 0;
  }

  .sign .button {
    margin: 0;
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }

  #login-btn {
    color: var(--hdgs);
    opacity: 1;
    font-size: 1.2rem;
  }

  #sign-btn {
    color: var(--txt);
    background: linear-gradient(90deg, var(--cta-grd-1), var(--cta-grd-2));
  }
}

.hero {
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(90deg, var(--cta-grd-1), var(--cta-grd-2));
  background-size: 350%, 100%;
  background-position: 35% 35%, center;
  background-repeat: no-repeat;
  padding: 30vh 0 25vh;
  color: var(--txt);
  border-radius: 0 0 0 4rem;
}

.hero__title {
  font-size: 2rem;
  margin: 0 11%;
}

.hero__text {
  font-weight: 300;
  opacity: 0.6;
  margin: 5% 15%;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0 0;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  padding: 0.8rem 1rem;
  font-weight: 700;
  color: var(--cta-txt);
  background-color: white;
  border-radius: 5rem;
}

.transparent__button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.transparent__button:hover {
  background-color: white;
  color: var(--cta-txt);
}

.filled__button:hover {
  background-color: var(--cta-hvr-bck);
  color: white;
}

.future {
  padding: 6rem 0 18rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.future__mobile__image {
  width: 110%;
  margin: 3rem 3rem 0;
}

.future__desktop__image {
  display: none;
}

.content__subtitle {
  font-size: 1.5rem;
  margin: 3rem 15% 1rem;
}

.content__paragraph {
  margin: 0 10vw;
  line-height: 1.5;
}

.mobile {
  position: relative;
  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(90deg, var(--body-grd-1), var(--body-grd-2));
  background-size: 150%, 100%;
  background-position: center -30vh, 100%;
  background-repeat: no-repeat;
  padding: 15rem 0 5rem;
  border-radius: 0 5rem 0 5rem;
  color: white;
}

.mobile img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0%;
  transform: translateY(-45%);
}

.mobile__subtitle {
  font-size: 1.8rem;
}

.mobile__paragraph {
  padding: 2rem 10%;
  line-height: 1.5;
}

.desktop {
  padding: 4rem 0;
}

.laptop__mobile__image {
  width: 100%;
}

.laptop__desktop__image {
  display: none;
}

footer {
  padding: 3rem 0;
  background-color: var(--foot-bck);
  border-radius: 0 5rem 0 0;
}

footer a {
  color: var(--foot-txt);
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 5rem;
  padding-bottom: 3rem;
}

.footer__category {
  padding-bottom: 2rem;
}

.footer__main__category {
  font-weight: 700;
  padding: 1.5rem;
}

.footer__sub__category {
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0%;
  left: 30%;
  transform: translateX(-15%);
  opacity: 0.5;
}

@media (min-width: 930px) {
  header {
    margin: 0;
    padding: 5vh 10vw;
    width: 100%;
  }

  .hero {
    background-size: 220%, 200%;
    background-position: -28vw 53%, 100%;
    padding: 30vh 0 15vh;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 1.4rem;
    margin: 1rem 0;
    opacity: 0.7;
  }

  .content__title {
    font-size: 2rem;
  }

  .future {
    position: relative;
    text-align: left;
    align-items: unset;
    padding: 8rem 22vw 10rem 10vw;
    overflow: hidden;
  }

  .future .content__title {
    align-self: center;
    padding-bottom: 1rem;
  }

  .future .content__subtitle {
    margin: 0;
    padding-top: 5vh;
  }

  .future .content__paragraph {
    margin: 1rem 0;
    max-width: 50ch;
    line-height: 2;
  }

  .future__mobile__image {
    display: none;
  }

  .future__desktop__image {
    display: unset;
    position: absolute;
    height: 90%;
    width: auto;
    right: 0;
    top: 50%;
    transform: translate(30%, -50%);
    z-index: -1;
  }

  .mobile {
    position: relative;
    background-size: 70%, 100%;
    background-position: -50% 80%, center;
    padding: 8rem 0 8rem 50vw;
    text-align: left;
  }

  .mobile__paragraph {
    padding: 1rem 0 0;
    max-width: 50ch;
    font-size: 0.85rem;
  }

  .mobile img {
    height: 140%;
    width: auto;
    left: 5%;
    top: 0%;
    transform: translate(0, -10%);
  }

  .desktop {
    position: relative;
    padding: 25vh 0 25vh 50vw;
    text-align: left;
  }

  .laptop__mobile__image {
    display: none;
  }

  .laptop__desktop__image {
    display: unset;
    position: absolute;
    height: 80%;
    top: 50%;
    left: 0%;
    transform: translate(-29%, -50%);
  }

  .desktop .content__subtitle {
    margin: 1rem 0;
  }

  .desktop .content__paragraph {
    margin: 0 0 5rem;
    max-width: 50ch;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 10vw;
  }

  .footer__navigation {
    display: flex;
    text-align: left;
    margin: 0 0 0 10vw;
  }

  .footer__category {
    margin: 0 7vw;
  }

  .footer__main__category {
    padding: 0.5rem 0 1.5rem;
  }

  .footer__sub__category {
    line-height: 2;
    font-size: 0.9rem;
    font-weight: 400;
  }

  .attribution {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 500px) and (max-width: 929px) {
  .future__mobile__image {
    max-width: 700px;
  }

  .mobile img {
    max-height: 500px;
    width: auto;
    left: 50%;
    top: -0%;
    transform: translate(-50%, -45%);
  }

  .laptop__mobile__image {
    max-width: 550px;
  }
}

@media (min-width: 930px) and (max-width: 1150px) {
  .future__desktop__image {
    height: 70%;
    right: -10%;
  }
  .mobile img {
    left: 0%;
    height: 135%;
  }

  .laptop__desktop__image {
    height: 70%;
  }
}
