* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cta-txt: hsl(356, 100%, 66%);
  --cta-hvr-bck: hsl(355, 100%, 74%);
  --hdgs: hsl(208, 49%, 24%);
  --txt: hsl(0, 0%, 100%);
  --foot-txt: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --foot-bck: hsl(240, 10%, 16%);
  --cta-grd-1: hsl(13, 100%, 72%);
  --cta-grd-2: hsl(353, 100%, 62%);
  --body-grd-1: hsl(237, 17%, 21%);
  --body-grd-2: hsl(237, 23%, 32%);
}

a {
  text-decoration: none;
  color: var(--foot-txt);
}

ul {
  list-style: none;
}

body {
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  text-align: center;
  position: relative;
}

header {
  position: absolute;
  width: 100vw;
  display: flex;
  padding: 10vh 5vw;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 5rem;
  cursor: pointer;
}

.header__navigation {
  width: 90vw;
  position: fixed;
  display: flex;
  top: 20vh;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.main__category {
  padding: 2rem 0;
}

.main__category img {
  width: 0.8rem;
  color: red;
  cursor: pointer;
}

.sub__navigation {
  display: none;
}

#login-btn {
  color: var(--hdgs);
}

#burger-icon {
  cursor: pointer;
}

.hero {
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(90deg, var(--cta-grd-1), var(--cta-grd-2));
  background-size: 310%, 100%;
  background-position: 38% 35%, center;
  background-repeat: no-repeat;
  padding: 30vh 0 25vh;
  color: var(--txt);
  border-radius: 0 0 0 4rem;
}

.hero__title {
  font-size: 2rem;
  margin: 0 11%;
}

.hero__text {
  font-weight: 300;
  opacity: 0.6;
  margin: 5% 15%;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0 0;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  padding: 0.8rem 1rem;
  font-weight: 700;
  color: var(--cta-txt);
  background-color: white;
  border-radius: 5rem;
}

.transparent__button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.transparent__button:hover {
  background-color: white;
  color: var(--cta-txt);
}

.filled__button:hover {
  background-color: var(--cta-hvr-bck);
  color: white;
}

.future {
  padding: 6rem 0 18rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.future img {
  width: 110%;
  margin: 3rem 3rem 0;
}

.content__subtitle {
  font-size: 1.5rem;
  margin: 3rem 15% 1rem;
}

.content__paragraph {
  margin: 0 10vw;
  line-height: 1.5;
}

.mobile {
  position: relative;
  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(var(--body-grd-1), var(--body-grd-2));
  background-size: 160% 100%;
  background-position: center -37vh, center center;
  background-repeat: no-repeat;
  padding: 13rem 0 6rem;
  border-radius: 0 5rem 0 5rem;
  color: white;
}

.mobile img {
  position: absolute;
  width: 100%;
  top: -45%;
  left: 5%;
  transform: translateX(-5%) translateY(22.5%);
}

.mobile__subtitle {
  font-size: 1.8rem;
}

.mobile__paragraph {
  padding: 2rem 10%;
  line-height: 1.5;
}

.desktop {
  padding: 5rem 0;
}

.desktop img {
  width: 100%;
}

footer {
  padding: 3rem 0;
  background-color: var(--foot-bck);
  border-radius: 0 5rem 0 0;
  color: var(--foot-txt);
}

footer img {
  width: 5rem;
  padding-bottom: 3rem;
}

.footer__category {
  padding-bottom: 2rem;
}

.footer__main__category {
  font-weight: 700;
  padding: 1.5rem;
}

.footer__sub__category {
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 0%;
  left: 30%;
  transform: translateX(-15%);
  opacity: 0.5;
}
